<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Chat Messages -->
      <app-chat-message text="Escribe el texto que quieres que se convierta en audio." />

      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-chat-message [text]="message.text" [audio]="message.audio || ''" />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box-select
    placeholder="Escribe aquí lo que deseas"
    [options]="voices()"
    (onMessage)="handleMessageWithSelect($event)"
  />
</div>
